.main {
    background: #ffffff;
    width: 100vw;
    padding: 10px;
    margin-top: 30px;

    @media (min-width: 1024px) {
        padding: 30px;
    }

    &_title {
        font-family: Cormorant Unicase;
        font-size: 36px;
        font-weight: 400;
        text-align: center;

        margin: auto;
        width: fit-content;

        @media (min-width: 1024px) {
            font-size: 128px;
        }
    }
    &_container {
        margin-top: 20px;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        &_item {
            background: #d9d9d9;
            width: 100%;
            max-width: 320px;
            height: 60px;
            border-radius: 40px;

            display: flex;
            flex-direction: row;

            &_time {
                background: #747474;
                width: 120px;
                height: 100%;
                border-radius: 40px;

                font-family: Cormorant Unicase;
                font-size: 36px;
                font-weight: 400;
                text-align: center;
                line-height: 52px;
            }
            &_text {
                width: 100%;

                font-family: Cormorant Unicase;
                font-size: 36px;
                font-weight: 400;
                text-align: center;
                line-height: 56px;

                margin-left: -30px;

                &_s {
                    width: 100%;

                    font-family: Cormorant Unicase;
                    font-size: 24px;
                    font-weight: 400;
                    text-align: center;
                    line-height: 56px;

                    // margin-left: -20px;
                }
                &_m {
                    width: 100%;

                    font-family: Cormorant Unicase;
                    font-size: 24px;
                    font-weight: 400;
                    text-align: center;
                    line-height: 30px;

                    // margin-left: -20px;
                }
            }

            @media (min-width: 425px) {
                max-width: 405px;
            }
            @media (min-width: 500px) {
                max-width: 480px;
            }
            @media (min-width: 1024px) {
                max-width: 705px;
                height: 120px;
                border-radius: 80px;

                &_time {
                    width: 320px;
                    border-radius: 80px;

                    font-size: 96px;
                    line-height: 96px;
                }
                &_text {
                    font-size: 96px;
                    line-height: 112px;
                    margin-left: -30px;

                    &_s {
                        font-size: 44px;
                        line-height: 100px;
                        // margin-left: -20px;
                    }
                    &_m {
                        font-size: 44px;
                        line-height: 50px;
                        // margin-left: -20px;
                    }
                }
            }
        }
        @media (min-width: 1024px) {
            gap: 20px;
        }
    }
}
