.main {
    background: #ffffff;
    width: 100vw;
    padding: 10px;
    margin-top: 50px;

    @media (min-width: 1024px) {
        padding: 30px;
    }

    &_title {
        font-family: Cormorant Unicase;
        font-size: 40px;
        font-weight: 400;
        text-align: center;

        margin: auto;
        width: fit-content;

        @media (min-width: 1024px) {
            font-size: 116px;
        }

        &_sub {
            font-family: Cormorant Unicase;
            font-size: 16px;
            font-weight: 400;
            text-align: left;

            margin: 5px auto auto auto;
            width: 100%;
            max-width: 500px;

            @media (min-width: 1024px) {
                font-size: 40px;
                max-width: 1000px;
            }

            &_center {
                font-family: Cormorant Unicase;
                font-size: 16px;
                font-weight: 400;
                text-align: center;

                margin: auto;
                margin-top: 5px;
                width: 100%;
                max-width: 500px;

                @media (min-width: 1024px) {
                    font-size: 40px;
                }
            }
        }
    }
    &_container {
        overflow: hidden;
        position: relative;

        margin: auto;
        width: fit-content;
        display: flex;
        justify-content: center;

        font-family: Cormorant Unicase;
        font-size: 16px;
        font-weight: 900;

        margin-top: 20px;

        cursor: pointer;
        background: #747474;
        padding: 20px;
        border-radius: 30px;

        &::after {
            content: "";
            display: block;
            width: 30px;
            height: 250px;
            margin-left: 80px;
            background: #fff;
            opacity: 0.5;
            position: absolute;
            left: -40px;
            top: -100px;
            z-index: 1;
            transform: rotate(45deg);
            transition: all 0.1s;
            animation-name: slideme;
            animation-duration: 3s;
            animation-delay: 0.05s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
        }

        @media (min-width: 1024px) {
            font-size: 40px;
            margin-top: 100px;
            padding: 30px 50px;
            border-radius: 60px;
        }

        @keyframes slideme {
            0% {
                left: -30px;
                margin-left: 0px;
            }
            30% {
                left: 110%;
                margin-left: 80px;
            }
            100% {
                left: 110%;
                margin-left: 80px;
            }
        }
    }
}
