.main {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &_container {
        position: relative;
        width: 210px;
        &_D {
            font-family: Koh Santepheap;
            font-size: 140px;
            font-weight: 400;
            color: #ffffff;

            position: absolute;
            left: -35px;
            top: -75px;
            z-index: 0;
        }
        &_K {
            font-family: Koh Santepheap;
            font-size: 140px;
            font-weight: 400;
            color: #ffffff;

            position: absolute;
            right: -35px;
            top: -45px;
            z-index: 10;
        }
        &_logo {
            position: absolute;
            width: 100%;
            z-index: 5;
            margin-top: calc(50% - 273px);
        }
        @media (min-width: 375px) {
            width: 215px;
            &_D {
                left: -50px;
                top: -65px;
            }
            &_K {
                right: -50px;
                top: -35px;
            }
        }
        @media (min-width: 425px) {
            width: 240px;
            &_D {
                left: -50px;
                top: -45px;
                font-size: 160px;
            }
            &_K {
                right: -50px;
                top: -15px;
                font-size: 160px;
            }
        }
        @media (min-width: 550px) {
            width: 280px;

            &_logo {
                margin-top: calc(50% - 363px);
            }
            &_D {
                left: -60px;
                top: -95px;
                font-size: 180px;
            }
            &_K {
                right: -60px;
                top: -55px;
                font-size: 180px;
            }
        }
        @media (min-width: 1024px) {
            width: 360px;

            &_logo {
                margin-top: calc(50% - 460px);
            }
            &_D {
                left: 0px;
                top: -285px;
                font-size: 180px;
            }
            &_K {
                right: -50px;
                top: -5px;
                font-size: 180px;
            }
        }
    }
}
