.main {
    background: #ffffff;
    width: 100vw;
    padding: 10px;
    margin-top: 50px;
    max-width: 550px;

    @media (min-width: 1024px) {
        padding: 30px;
        max-width: 950px;
    }

    &_title {
        font-family: Cormorant Unicase;
        font-size: 40px;
        font-weight: 400;
        text-align: center;

        margin: auto;
        width: fit-content;

        @media (min-width: 1024px) {
            font-size: 116px;
        }

        &_sub {
            &_left {
                font-family: Cormorant Unicase;
                font-size: 24px;
                font-weight: 400;
                text-align: left;

                margin: auto;
                margin-top: 5px;
                width: calc(100% - 90px);
                max-width: 375px;

                @media (min-width: 600px) {
                    margin-left: 0;
                }

                @media (min-width: 1024px) {
                    font-size: 56px;
                    margin-left: 0;
                }
            }
            &_right {
                font-family: Cormorant Unicase;
                font-size: 24px;
                font-weight: 400;
                text-align: right;

                margin: auto;
                margin-top: 5px;
                width: calc(100% - 60px);
                max-width: 500px;

                @media (min-width: 600px) {
                    margin-right: 0;
                }

                @media (min-width: 1024px) {
                    font-size: 56px;
                    margin-right: 0;
                }
            }
        }
    }
    &_container {
        &_left {
            width: 100%;
            display: flex;
            justify-content: start;
        }
        &_right {
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }
    }
}
