.main {
    background: #ffffff;
    width: 100vw;
    padding: 10px;
    margin-top: 50px;

    @media (min-width: 1024px) {
        padding: 30px;
    }

    &_title {
        font-family: Cormorant Unicase;
        font-size: 28px;
        font-weight: 900;
        text-align: center;

        margin: auto;
        width: fit-content;

        @media (min-width: 375px) {
            font-size: 32px;
        }
        @media (min-width: 425px) {
            font-size: 40px;
        }
        @media (min-width: 1024px) {
            font-size: 90px;
        }
    }
    &_container {
        margin: auto;
        margin-top: 10px;
        width: 100%;
        max-width: 705px;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &_contacts {
        display: flex;
        justify-content: space-between;
        gap: 20px;

        &_item {
            display: flex;
            justify-content: space-between;
            flex-wrap: nowrap;
            align-items: center;
            gap: 10px;
            width: 100%;
            cursor: pointer;

            &_icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 25px;
                aspect-ratio: 1;
            }
            &_text {
                white-space: nowrap;
                font-family: Cormorant Unicase;
                font-size: 16px;
                font-weight: 900;
                color: rgb(20, 158, 202);
            }
        }
    }
}
